:root {
  --first-color: #212121;
  --second-color: #757575;
  --third-color: #2196f3;
}

body {
  font-family: Roboto, Cantarell;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link {
  text-decoration: none;
}
